
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}



header .nav-bar{
    color: #fff;
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 999;
    

}
.nav-bar .logo{
    display: inline-block;
    max-width: 150px;
    margin: 20px;
    padding: 10px;
    
}
.logo img{
    width: 100%;
    height: auto;
    border: none;
}

.nav-item{
       justify-content: flex-end;
       width: 100%;
       text-align: end;
}
.nav-list{
    display: block;   
    text-align: end;
    margin: 20px;
    padding: 10px;
    font-size: 1rem;

}
.nav-list li{
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
}
.nav-list a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    background: transparent;
}

header .nav-background{
    background: url('/img/background.jpg');
    height: 95vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-color: black;
    color: #fff;
    overflow: hidden;

}
.nav-background .heading{
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 300px;
}
.nav-background .heading h1{
    font-size: 1.8rem ;
}
.nav-background .heading p{
    font-size: 1.2rem ;
}