
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}



header .nav-bar{
    color: #fff;
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 999;
    

}
.nav-bar .logo{
    display: inline-block;
    max-width: 150px;
    margin: 20px;
    padding: 10px;
   
    
}
.logo img{
    width: 100%;
    height: auto;
    border: none;
    
}

.nav-item{
       justify-content: flex-end;
       width: 100%;
       text-align: end;
}
.nav-list{
    display: block;   
    text-align: end;
    margin: 20px;
    padding: 10px;
    font-size: 1rem;

}
.nav-list li{
    display: inline-block;
    padding: 5px;
    margin-top: 5px;
}
.nav-list a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    background: transparent;
}

header .nav-background{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.7)), url('/img/background.jpg')  ;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-color: rgb(0, 0, 0);
    color: #fff;
    overflow: hidden;

}
.nav-background .heading{
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 300px;
}
.nav-background .heading h1{
    font-size: 1.8rem ;
}
.nav-background .heading p{
    font-size: 1.2rem ;
}
h2{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
p{
    font-size: 14px;
}
.btn{
    margin-top: 20px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    /* border: 0.5px solid rgb(193, 240, 122); */
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

}
/* ##############################Section############################ */




.container{
    margin: 6rem 4rem;
    padding: 1rem;
    padding-bottom: 6rem;
    border-bottom: 1px solid #eee;
}
/* #aboutus .container h2{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 4rem;
} */
#aboutus .container .about-text{
    font-size: 1.2rem;
    color: rgb(99, 93, 93);
    /* text-transform: capitalize; */
    display: flex;
    justify-content: space-between;
    letter-spacing: 1.5px;
    
}
.about-text .romi, .isaac, .magda{
    padding: 0px 10px;
}

section .container .about-img{
    margin-top: 4rem ;
    display: flex;
    position: relative;
    max-width: 100%;
    height: auto;
    text-align: center;
    font-size: 12px;

}

.container .about-img img{
    display: inline-block;
    max-width: 100%;
    height: auto;
}
/* ##########################################services########################### */

.container .service-list{
    display: flex;
    
    justify-content: space-between;
    text-align: center;
}

.container .service-list img{
    display: inline-block;
    width: 100%;
    height: auto;

}
/* .container .service-list p{
    font-size: 12px;
} */
.service-list .service .icon{
    width: 70px;
    height: auto;
    padding: 0px 20px;

}

.service-text{
    margin-top: 40px;
    font-size: 1.2rem;
    color: rgb(99, 93, 93);
    display: flex;
    justify-content: space-between;
    letter-spacing: 1.5px;
}

.cta {
    background-color: black;
    color: #fff;
    display: flex;
    padding: 20px ;
}
.cta .btn{
    margin-top: 20px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;

}
.btn:hover{
    color: violet;
    border: none;
}
.cta .cta-img{
    margin-top: -80px;
}
/* ###################portfolio##################### */

#protfolio h2,.pp{
    margin-top: 70px;
    text-align: center;
    padding: 1rem;
}
#protfolio .pro-container{
 display: flex;
 justify-content: space-around;
 padding: 20px;
 margin-bottom: 1.5rem;

}

#protfolio .card{
    width: 320px;
    height: 360px;
    padding: 2rem 1rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;

}

#protfolio .card:hover{
    transform: translateY( 20px)
}
#protfolio .card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100% ;
    height: 100%;
    background: linear-gradient(to bottom, rgba(17, 17, 17, 0.5),rgb(10, 10, 9));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}
#protfolio .card:hover:before{
    opacity: 1;
}
#protfolio .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

}
#protfolio .card .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
#protfolio .card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
#protfolio .cta-text{
    margin-top: 10px;
    text-align: center;

}
/* #####################################benefit######################## */

#benefits h2{
    text-align: center;
}

#benefits .benefit-list{
    display: flex;
    text-align: center;
    justify-content: space-between;
       
}


#benefits .benefit{
    font-size: 1.6rem;
    padding: 1rem;


}

.benefit h3{
    font-weight: 400;
}


.benefit-list .icon{
    
    width: 70px;
    height: auto;
    padding: 0px 20px;

}

.nwsletter{
    background-color: rgb(236, 235, 235);
    padding: 3rem;
    text-align: center;
}
.nwsletter h3{
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
}
.nwsletter input{
    width: 10rem;
    height: 2rem;
    margin: 0.5rem;
    
}

/* ########################contact############################# */


#contact h2{
    text-align: center;
} 

.contact-info{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.contact-info p{
    font-size: 1.2rem;
    text-transform: capitalize;
    letter-spacing: 1.5px;
}
.contact-way{
    margin-top: 5rem ;
    display: flex;
    justify-content: space-around;
    
}
.input-id input{
    margin: 1rem;
    width: 25rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: rgb(236, 235, 235);
}
.input-text textarea{
    width: 35rem;
    margin: 1rem;
    font-size: 1.2rem;
    background-color: rgb(236, 235, 235);
}

.input-text .submit{

    margin-left: 8rem;
    padding: 1rem;
    width: 20rem;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    background-color: black;
    color: #fff;
    cursor: pointer;
}
.input-text .submit:hover{
    color: violet;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}

footer{
    text-align: center;
    padding: 1rem;
    font-size: 0.5rem;
    background-color: rgb(236, 235, 235);
}
